:root {
  --light-blue: #00A6FB;
  --mid-light-blue: #0582CA;
  --mid-blue: #006494;
  --mid-dark-blue: #003554;
  --dark: #051923;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #8dc8d8;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--mid-blue);
}

.navbar__link.active {
  color: var(--light-blue);
}

.header {
  position: relative;
  background-color: var(--dark);
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  display: flex;
}

.account-btn__pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.account-btn__pfp img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.account-btn {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  user-select: none;
}

.account-btn__name {
  font-size: 1.2rem;
  color: var(--light-blue);
}

.buttons-block {
  display: flex;
  column-gap: 20px;
}


.inputs-block {
  flex-grow: 1;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 15px;
  align-self: flex-start;
}

.input {
  max-height: 60px;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
}

.file-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}



.custom-file-input {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
  padding: 10px 0;
}

.hide {
  display: none;
}

.interaction-line {
  border-top: 1px solid var(--light-blue);
  padding: 10px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  color: var(--light-blue);
}

.interaction-line__likes {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.interaction-line__likes.active {
  color: rgb(255, 62, 62);
}